<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}" />
  <link as="style" rel="preload" href="https://fonts.bunny.net/css?family=poppins:300,300i,400,400i,500,700">
  <link href="https://fonts.bunny.net/css?family=poppins:300,300i,400,400i,500,700" rel="stylesheet" />


  {% if page.title %}<title>{{ page.title }} | {{ site.title }}</title>{% else %}<title>{{ site.title }} |
    {{ site.description }}</title>{% endif %}

  {% if site.theme_color %}
  <!-- Chrome, Firefox OS and Opera -->
  <meta content="{{ site.theme_color }}" name="theme-color" />
  <!-- Windows Phone -->
  <meta content="{{ site.theme_color }}" name="msapplication-navbutton-color" />
  <!-- iOS Safari -->
  <meta content="{{ site.theme_color }}" name="apple-mobile-web-app-status-bar-style" />
  {% endif %}

  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />

  {% seo title=false %}

</head>
